body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.menu-container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.menu {
    margin-bottom: 20px;
}

.menu-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 75, 43, 0.3);
}

.menu-button:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    box-shadow: 0 6px 15px rgba(255, 75, 43, 0.5);
    transform: translateY(-3px);
}

.menu-description p {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    color: #ddd;
}

.clima-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.temperatura {
    font-size: 3rem;
    font-weight: bold;
}

.ciudad {
    font-size: 1.5rem;
}
